@using eProject_BusTicket.Areas.Admin.Enum
@model IEnumerable<eProject_BusTicket.Models.BookingTicket>

@{
    ViewBag.Title = "Tickets";
}
<link href="~/Areas/Admin/Assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
<h2 style="text-align: center">Tickets</h2>
@if (@TempData["Cancel"] != null)
{
    <div class="alert alert-success" role="alert">
        <b>  @TempData["Cancel"]</b>
    </div>
}

@if (@TempData["Result"] != null)
{
    <div class="alert alert-success" role="alert">
        <b>@TempData["Result"]</b>
    </div>
}

<table class="table">
    <tr>
        <th>
            Buyer Name
        </th>
        <th>
            Phone Number
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RouteSchedule.Route.Start)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RouteSchedule.Route.End)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartureTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PassengerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PassengerAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            Action
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Booking.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Booking.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RouteSchedule.Route.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RouteSchedule.Route.End)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassengerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassengerAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @if (item.DepartureTime > DateTime.Now.AddHours(1) && item.Status == TicketStatus.NotUsedYet)
                {
                    @Html.ActionLink("Cancel", "Cancel", new { id = @item.BookingTicketID }, new { onclick = "return confirm('Are sure wants to Cancel?');", @class="btn btn-danger" })
                }
                @if (item.Status == TicketStatus.NotUsedYet)
                {
                    <button class="btn btn-primary" style="margin-top: 7px"><i class="far fa-file-pdf"> @Html.ActionLink("Print", "Print", new { id = @item.BookingTicketID }) </i></button>
                }
            </td>
            
        </tr>
    }
</table>

<script type="text/javascript">
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 3000);
</script>