@model IEnumerable<eProject_BusTicket.Models.Location>

@{
    ViewBag.Title = "Locations";
}

<h2>Locations</h2>
<style>
    a {
        text-decoration: none !important;
        color: white
    }

        a:hover {
            color: white
        }
</style>
<button class=" btn btn-success">
    @Html.ActionLink("Create", "Create")
</button>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LocationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocationName)
            </td>
            <td>
                <button class="status" data-id=@item.LocationID>@(item.IsActive ? "Active" : "Disable")</button>
            </td>
        </tr>
    }

</table>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    const statuslist = document.getElementsByClassName('status');
    for (const status of statuslist) {
        if (status.textContent == 'Active') {
            status.classList.add('btn', 'btn-success');
        } else if (status.textContent == 'Disable') {
            status.classList.add('btn', 'btn-danger');
        }
    }

    $('.status').on('click',
        function () {
            var btn = $(this)
            var id = $(this).data('id');
            $.ajax({
                url: "/Locations/ChangeStatus",
                data: { id: id },
                dataType: "json",
                type: "Post",
                success: function (response) {
                    if (response == true) {
                        btn.text('Active');
                        btn.removeClass("btn-danger").addClass("btn-success");
                    } else {
                        btn.text('Disable');
                        btn.removeClass("btn-success").addClass("btn-danger");
                    }
                }
            });
        });
</script>