@model eProject_BusTicket.ViewModels.TripSVM

@{
    ViewBag.Title = "Details";
}

<style type="text/css">
    .details {
        display: flex;
        justify-content: space-between;
        padding-bottom: 15px;
    }

    b {
        display: inline-block;
        font-size: 16px;
    }
</style>

<h2>TripSchedule Details</h2>

<div>
    <hr />

    <div class="details">
        <div class="col-md-6">
            <div>
                <b>Trip Code:</b>
                @Html.DisplayFor(model => model.TripSchedule.Trip.CodeName)
            </div>
            <div>
                <b>Departure Time:</b>
                @Html.DisplayFor(model => model.TripSchedule.DepartureTime)
            </div>
            <div>
                <b> Type:</b>
                @Html.DisplayFor(model => model.TripSchedule.Trip.Vehicle.TypeofVehicle.Name)
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <b>Vehicle Code:</b>
                @Html.DisplayFor(model => model.TripSchedule.Trip.Vehicle.Code)
            </div>
            <div>
                <b>Total Distance:</b>
                @Model.TripSchedule.Trip.Routes.Max(r => r.Distance) km
            </div>
            <div>
                <b>Total Time:</b>
                @if (Model.Stations.Count > 2)
                {
                    <span>
                        @(Model.TripSchedule.Trip.Routes.Max(r => r.Duration) + (Model.Stations.Count - 2) * 7) mins
                    </span>
                }
                else
                {
                    <span>
                        @(Model.TripSchedule.Trip.Routes.Max(r => r.Duration)) mins
                    </span>
                }
            </div>
        </div>
        
    </div>
</div>

<table class="table">
    <tr>
        <th>
            Start
        </th>
        <th>
            End
        </th>
        <th>
            Price
        </th>
        <th>
            Avaiable Seat
        </th>
        <th>
            Departure Time
        </th>
        <th>
            Distance
        </th>
        <th>
            Duration
        </th>
    </tr>

    @foreach (var item in Model.RouteSchedules)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Route.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Route.End)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Route.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvaiableSeat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Route.Distance) km
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Route.Duration) mins
            </td>
        </tr>
    }

</table>


<p>
    @Html.ActionLink("Back to List", "Index")
</p>