@model eProject_BusTicket.ViewModels.TripSVM

@{
    ViewBag.Title = "Details";
}


<h4>TripSchedule Details</h4>
<hr />
<div class="details">
    <div class="col-md-6">
        <div>
            <div class="label">
                Trip Code:
            </div>
            <div class="content">
                @Html.DisplayFor(model => model.TripSchedule.Trip.CodeName)
            </div>
        </div>
        <div>
            <div class="label">
                Departure Time:
            </div>
            <div class="content">
                @Html.DisplayFor(model => model.TripSchedule.DepartureTime)
            </div>
        </div>
        <div>
            <div class="label">
                Type:
            </div>
            <div class="content">
                @Html.DisplayFor(model => model.TripSchedule.Trip.Vehicle.TypeofVehicle.Name)
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div>
            <div class="label">
                Vehicle Code:
            </div>
            <div class="content">
                @Html.DisplayFor(model => model.TripSchedule.Trip.Vehicle.Code)
            </div>
        </div>
        <div>
            <div class="label">
                Total Distance:
            </div>
            <div class="content">
                @Model.TripSchedule.Trip.Routes.Max(r => r.Distance) km
            </div>
        </div>
        <div>
            <div class="label">
                Total Time:
            </div>
            <div class="content">
                @if (Model.Stations.Count > 2)
                {
                    <span>
                        @(Model.TripSchedule.Trip.Routes.Max(r => r.Duration) + (Model.Stations.Count - 2) * 7) mins
                    </span>
                }
                else
                {
                    <span>
                        @(Model.TripSchedule.Trip.Routes.Max(r => r.Duration)) mins
                    </span>
                }
            </div>
        </div>
    </div>
</div>


<table class="table">
    <tr>
        <th>
            Pick-up point
        </th>
        <th>
            Drop-off point
        </th>
        <th>
            Price
        </th>
        <th>
            Avaiable Seats
        </th>
        <th>
            Departure Time
        </th>
        <th>
            Distance
        </th>
        <th>
            Time
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.RouteSchedules)
    {
        if (item.DepartureTime>DateTime.Now)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Route.Start)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Route.End)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Route.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvaiableSeat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartureTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Route.Distance) km
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Route.Duration) mins
                </td>
                <td>
                    <button class="btn btn-danger"> @Html.ActionLink("Booking", "Booking", "Bookings", new { id = item.RouteScheduleID }, "")</button>
                </td>
            </tr>
        }
        
    }

</table>


<p>
    @Html.ActionLink("Back to List", "Index")
</p>