@using System.Web.UI.WebControls
@model eProject_BusTicket.ViewModels.TripVM

@{
    ViewBag.Title = "Trip Details";
}

<style type="text/css">
    .details {
        display: flex;
        justify-content: space-between;
        padding-bottom: 15px;
    }

    b {
        display: inline-block;
        font-size: 16px;
    }
</style>

<h2> Trip Details</h2>

<div>
    <hr />
    <div class="details">
        <div class="col-md-6">
            <div>
                <b>Vehicle Code:</b>
                @Html.DisplayFor(model => model.Trip.Vehicle.Code)
            </div>
            <div>
                <b>Trip Code:</b>
                @Html.DisplayFor(model => model.Trip.CodeName)
            </div>
            <div>
                <b>Type:</b>
                @Html.DisplayFor(model => model.Trip.Vehicle.TypeofVehicle.Name)
            </div>
            <div>
                <b>Seats:</b>
                @Html.DisplayFor(model => model.Trip.Vehicle.Seats)
            </div>
            <div>
                <b>Price/km</b>
                @Html.DisplayFor(model => model.Trip.Vehicle.Price)
            </div>
            <div>
                <b>Distance</b>
                @Html.DisplayFor(model => model.Routes[0].Distance) km
            </div>

        </div>
        <div class="col-md-6">
            <div>
                <b>Time</b>
                @if (Model.Stations.Count > 2)
                {
                    <span>
                        @(Model.Routes[0].Duration + (Model.Stations.Count - 2) * 7) mins
                    </span>
                }
                else
                {
                    <span>
                        @(Model.Routes[0].Duration) mins
                    </span>
                }
            </div>
            <div>
                <b>Origin:</b>
                @Html.DisplayFor(model => model.Trip.Origin)
            </div>
            <div>
                <b>Destination:</b>
                @Html.DisplayFor(model => model.Trip.Destination)
            </div>
            <div>

                <b>Stations:</b>
                <ol>
                    @foreach (var station in Model.Stations)
                    {
                        <li>
                            @station.StationAdress
                        </li>
                    }
                </ol>
            </div>
        </div>

    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>