@model eProject_BusTicket.ViewModels.BookingVM

@{
    ViewBag.Title = "Booking";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h4>Booking</h4>
    <div class="form-horizontal">

        <table class="table">
            <tr>
                <th>
                    Type
                </th>
                <th>
                    Vehicle Code
                </th>
                <th>
                    Pick-up point
                </th>
                <th>
                    Drop-off point
                </th>
                <th>
                    Distance
                </th>
                <th>
                    Time
                </th>
                <th>
                    Departure Time
                </th>
                <th>
                    Price
                </th>
                <th>
                    Avaiable Seat
                </th>

                <th>
                    Amount
                </th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.TripDetails.Trip.Vehicle.TypeofVehicle.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.TripDetails.Trip.Vehicle.Code)
                </td>
                <td>
                    @Html.DisplayFor(model => model.RouteDetails.Route.Start)
                </td>
                <td>
                    @Html.DisplayFor(model => model.RouteDetails.Route.End)
                </td>
                <td>
                    @Html.DisplayFor(model => model.RouteDetails.Route.Distance) km
                </td>
                <td>
                    @Html.DisplayFor(model => model.RouteDetails.Route.Duration) mins
                </td>
                <td>
                    @Html.DisplayFor(model => model.RouteDetails.DepartureTime)
                </td>
                <td id="tempprice">
                    @Html.DisplayFor(model => model.RouteDetails.Route.Price)
                </td>
                <td id="aviableseats">
                    @Html.DisplayFor(model => model.RouteDetails.AvaiableSeat)
                </td>
                <td>
                    <input type="number" id="seats" onchange="addinfor()" onkeyup="check()" required min="1" />
                </td>
            </tr>
        </table>
        <div class="buy">
            <div class="col-md-7">
                <table class="table" id="ticket" style="display: none">
                    <tr>
                        <th>
                            Passenger Name
                        </th>
                        <th>
                            Age
                        </th>
                        <th>
                            Price
                        </th>
                    </tr>
                    <tfoot>
                        <tr>
                            <td colspan="1"></td>
                            <td><b>Total:</b></td>
                            <td id="total">
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div class="col-md-4">
                <h4>
                    Buyer Infor
                </h4>
                <form class="buyer_infor">
                    <div class="mb-3">
                        <label class="form-label">Name: </label>
                        <input name="Name" value="@ViewBag.Name" required />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email: </label>
                        <input id="Email" name="Email" value="@ViewBag.Email" required onchange="check()" />
                        <span class="text-danger" id="email_error"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Phone: </label>
                        <input id="PhoneNumber" name="PhoneNumber" value="@ViewBag.PhoneNumber" onchange="check()" required />
                        <span class="text-danger" id="phone_error"></span>
                    </div>
                </form>

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button id="Check_Out" type="submit" class="btn btn-danger">
                    Check Out
                </button>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    function addinfor() {
        var ticket = document.getElementById('ticket');
        var numRows = document.getElementById('seats').value;
        document.getElementById("total").innerHTML = "";
        var oldnumRows = ticket.rows.length - 1;
        if (numRows > 0) {
            ticket.style.display = 'table';
        } else {
            ticket.style.display = 'none';
        }
        // Delete each row starting from the last one
        for (let i = oldnumRows - 1; i >= 1; i--) {
            ticket.deleteRow(i);
        }
        for (let i = 0; i < numRows; i++) {
            var row = ticket.insertRow(1);
            var nameCell = row.insertCell(0);
            var ageCell = row.insertCell(1);
            var priceCell = row.insertCell(2);
            nameCell.innerHTML = '<input type="text" name="PassengerName" placeholder="Passenger Name" required>';
            ageCell.innerHTML = '<input type="number" name="PassengerAge" placeholder="Age" class="PassengerAge" onchange="caculateprice(this)" required min="0">';
            priceCell.innerHTML = '<div class="price"></div>';
        }
    }

    function caculateprice(i) {
        var row = i.parentNode.parentNode;
        var ageCell = row.querySelector(".PassengerAge");
        var age = ageCell.value;
        var tempprice = document.getElementById("tempprice").innerText.replaceAll(".", "");
        if (age < 6) {
            var price = tempprice * 0;
        } else if (age < 12) {
            var price = tempprice * 0.5;
        } else if (age > 50) {
            var price = tempprice * 0.7;
        } else {
            var price = tempprice * 1;
        }
        price = price.toLocaleString("vi-VN");
        row.querySelector(".price").innerHTML = price;
        var total = 0;
        var cells = document.querySelectorAll(".price");
        for (var i = 0; i < cells.length; i++) {
            if (cells[i].textContent != "") {
                var number = parseInt(cells[i].textContent.replaceAll(".", ""));
                total += number;
            }
        }
        total = total.toLocaleString("vi-VN");
        document.getElementById("total").innerHTML = total;
    }

    function check() {
        var btn = document.getElementById("Check_Out");
        //check amount
        var amount = document.getElementById("seats");
        var avaiable = document.getElementById("aviableseats");
        var val = parseInt(amount.value);
        var seat = parseInt(avaiable.innerHTML);
        if (val > seat) {
            alert("Max amount: " + seat);
            amount.value = "";
        }
        //check email
        var email = document.getElementById("Email").value;
        var regexEmail = /^[\w-\.]+@@([\w-]+\.)+[\w-]{2,4}$/g;
        if (!email.match(regexEmail)) {
            document.getElementById("email_error").innerHTML = "Email incorect!";
        } else {
            document.getElementById("email_error").innerHTML = "";
        }
        //check phone number
        var phone = document.getElementById("PhoneNumber").value;
        var regexPhoneNumber = /(84|0[3|5|7|8|9])+([0-9]{8})\b/g;
        if (!phone.match(regexPhoneNumber)) {
            document.getElementById("phone_error").innerHTML = "Phone incorect!";
        } else {
            document.getElementById("phone_error").innerHTML = "";
        }
        if (phone.match(regexPhoneNumber) && email.match(regexEmail)) {
            btn.disabled = false;
        } else {
            btn.disabled = true;
        }

    }

</script>