@model IEnumerable<eProject_BusTicket.ViewModels.BookingVM>

@{
    ViewBag.Title = "Payment";
}

<h2>Payment</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TripDetails.Trip.Vehicle.TypeofVehicle.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TripDetails.Trip.Vehicle.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RouteDetails.Route.Start)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RouteDetails.Route.End)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RouteDetails.Route.Distance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RouteDetails.Route.Duration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RouteDetails.DepartureTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RouteDetails.Route.Price)
                </th>
                <th>
                    Amount
                </th>
            </tr>
            @for (var i = 0; i < 1; i++)
            {
                <tr>
                    <td>
                        @Model.ToList()[i].TripDetails.Trip.Vehicle.TypeofVehicle.Name
                    </td>
                    <td>
                        @Model.ToList()[i].TripDetails.Trip.Vehicle.Code
                    </td>
                    <td>
                        @Model.ToList()[i].RouteDetails.Route.Start
                    </td>
                    <td>
                        @Model.ToList()[i].RouteDetails.Route.End
                    </td>
                    <td>
                        @Model.ToList()[i].RouteDetails.Route.Distance
                    </td>
                    <td>
                        @Model.ToList()[i].RouteDetails.Route.Duration
                    </td>
                    <td>
                        @Model.ToList()[i].RouteDetails.DepartureTime
                    </td>
                    <td>
                        @Model.ToList()[i].RouteDetails.Route.Price
                    </td>
                    <td>
                        @Model.Count()
                    </td>
                </tr>
            }


        </table>
        <table class="table" id="ticket">
            <tr>
                <th>
                    Passenger Name
                </th>
                <th>
                    Age
                </th>
                <th>
                    Price
                </th>
            </tr>
            @for (var i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td>
                        @Model.ToList()[i].PassengerName
                    </td>
                    <td>
                        @Model.ToList()[i].PassengerAge
                    </td>
                    <td>
                        <div class="price"> @Model.ToList()[i].Price.ToString("N0")</div>
                    </td>
                </tr>
            }
            <tfoot>
                <tr>
                    <td colspan="1"></td>
                    <td><b>Total:</b></td>
                    <td id="total"></td>
                </tr>

            </tfoot>
        </table>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button\>@Html.ActionLink("Payment", "vnpay")</button\>
                <input id="create" type="submit" value="Payment" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var total = 0;
        var cells = document.querySelectorAll(".price");
        for (var i = 0; i < cells.length; i++) {
            if (cells[i].textContent != "") {
                var number = parseInt(cells[i].textContent.replace(".", ""));
                total += number;
            }
        }
        total = total.toLocaleString("vi-VN");
        document.getElementById("total").innerHTML = total;
    });
</script>