@model IEnumerable<eProject_BusTicket.ViewModels.BookingVM>

@{
    ViewBag.Title = "Payment";
}

<h2>Payment</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TripDetails.Destination.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TripDetails.Origin.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TripDetails.Vehicle.TypeofVehicle.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TripDetails.Vehicle.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TripDetails.DepartureTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TripDetails.TripTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TripDetails.Distance)
                </th>
                <th>
                    Amount
                </th>
            </tr>
            @for (var i = 0; i < 1; i++)
            {
                <tr>
                    <td>
                        @Model.ToList()[i].TripDetails.Destination.Name
                    </td>
                    <td>
                        @Model.ToList()[i].TripDetails.Origin.Name
                    </td>
                    <td>
                        @Model.ToList()[i].TripDetails.Vehicle.TypeofVehicle.Name
                    </td>
                    <td>
                        @Model.ToList()[i].TripDetails.Vehicle.Code
                    </td>
                    <td>
                        @Model.ToList()[i].TripDetails.DepartureTime
                    </td>
                    <td>
                        @Model.ToList()[i].TripDetails.TripTime
                    </td>
                    <td>
                        @Model.ToList()[i].TripDetails.Distance
                    </td>
                    <td>
                        @Model.Count()
                    </td>
                </tr>
            }


        </table>
        <table class="table" id="ticket">
            <tr>
                <th>
                    Passenger Name
                </th>
                <th>
                    Age
                </th>
                <th>
                    Price
                </th>
            </tr>
            @for (var i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td>
                        @Model.ToList()[i].PassengerName
                    </td>
                    <td>
                        @Model.ToList()[i].PassengerAge
                    </td>
                    <td>
                        <div class="price"> @Model.ToList()[i].Price.ToString("N0")</div>
                    </td>
                </tr>
            }
            <tfoot>
            <td colspan="1"></td>
            <td><b>Total:</b></td>
            <td id="total">
            </td>
            </tfoot>
        </table>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="create" type="submit" value="Payment" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var total = 0;
        var cells = document.querySelectorAll(".price");
        for (var i = 0; i < cells.length; i++) {
            if (cells[i].textContent != "") {
                var number = parseInt(cells[i].textContent.replace(".", ""));
                total += number;
            }
        }
        total = total.toLocaleString("vi-VN");
        document.getElementById("total").innerHTML = total;
    });
</script>