@model ChangePasswordViewModel

@{
    Layout = null;
}
@if (@ViewBag.Noti != null)
{
    @Html.Raw(@ViewBag.Noti)
}
else
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control form-control-user", @placeholder = "Old Password" })
    </div>
    <div class="form-group">
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control form-control-user", @placeholder = "New password" })
    </div>
    <div class="form-group">
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control form-control-user", @placeholder = "Confirm new password" })
    </div>
    <input type="submit" value="Change Password" class="btn btn-primary btn-user btn-block" />
}
