@model ForgotPasswordViewModel

@{
    Layout = null;
}
<div>
    @if (@ViewBag.Link != null)
    {
        <p>
            Please check your email to reset your password.
        </p>
        <p class="text-danger">
            For DEMO only: You can click this link to reset password: <a href="@ViewBag.Link">link</a>
            Please change this code to register an email service in IdentityConfig to send an email.
        </p>
    }
    else
    {
        @ViewBag.Noti
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-user", @placeholder = "Enter Email Address...", required = "required", type = "email" })
        </div>
        <input type="submit" value="Reset Password" class="btn btn-primary btn-user btn-block" />

    }
</div>