@model eProject_BusTicket.Models.Trip

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Trip</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Destination.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Origin.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Origin.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehicle.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicle.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TripTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TripTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Distance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailableSeat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableSeat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TripID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
