@using System.Web.UI.WebControls
@model eProject_BusTicket.ViewModels.TripVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Trip</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Trip.Vehicle.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trip.Vehicle.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trip.CodeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trip.CodeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trip.Origin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trip.Origin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trip.Destination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trip.Destination)
        </dd>
        
        <dt>
            Điểm đón khách
        </dt>
           
        <dd>
            @Html.DropDownList("Start", ViewBag.Station as SelectList)
        </dd>
        
        <dt>
            Điểm trả khách
        </dt>

        <dd>
            @Html.DropDownList("Start", ViewBag.Station as SelectList)
        </dd>
        
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Trip.TripID }) |
    @Html.ActionLink("Back to List", "Index")
    @*@Html.ActionLink("Select", "Booking", "Bookings", new { id = Model.Routes[i] }, "")*@
</p>
