@model IEnumerable<eProject_BusTicket.ViewModels.TripVM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Trip.Vehicle.TypeofVehicle.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trip.Vehicle.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trip.CodeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trip.Origin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trip.Destination)
        </th>
        <th>
            Chiều dài chuyến
        </th>
        <th>
            Tổng thời gian chuyến
        </th>
        <th>
            Số điểm đón/trả khách
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trip.IsActive)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Trip.Vehicle.TypeofVehicle.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trip.Vehicle.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trip.CodeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trip.Origin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trip.Destination)
            </td>
            <td>
                @item.Routes.Max(r=>r.Distance) km
            </td>
            <td>
                @item.Routes.Max(r=>r.Duration) phút
            </td>
            <td>
                @item.Stations.Count()
            </td>
            <td>
                @(item.Trip.IsActive ? "Hoạt động" : "Tạm ngưng")
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Trip.TripID }) |
                @Html.ActionLink("Details", "Details", new { id = item.Trip.TripID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Trip.TripID })
            </td>
        </tr>
    }
</table>
