@model IEnumerable<eProject_BusTicket.ViewModels.TripVM>
@{
    ViewBag.Title = "Index";
}

<h2>Trip</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TripDetails.Destination.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TripDetails.Origin.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeofVehicleDetails.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TripDetails.Vehicle.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TripDetails.DepartureTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TripDetails.TripTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TripDetails.Distance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TripDetails.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TripDetails.AvailableSeat)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TripDetails.Destination.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TripDetails.Origin.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeofVehicleDetails.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TripDetails.Vehicle.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TripDetails.DepartureTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TripDetails.TripTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TripDetails.Distance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TripDetails.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TripDetails.AvailableSeat)
            </td>
        </tr>
    }

</table>

